.BookList {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.BookList td,
.BookList th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

