.section {
  padding: 0 1rem;
  
  &__title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    text-align: start;
    margin: 1rem auto;
  }
  &__books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 15%));
    grid-gap: 1rem;
    margin: auto;
  }
}