.navbar {
  height: 70px;
  width: 100%;
  background-color: #e1e2e3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem calc(5%/2);

  &__logo {
    height: 100%;
    margin-right: 0.5rem;
  }

  &__dashboard {
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
    color: #000;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  &__icon {
    height: 60%;

  }
}

.navlink {
  text-decoration: none;
}

.new-book {
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 1.9px;
  color: #121212;
  margin: auto 15px;
}
