.Form {
  width: 91%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 30px;
}

.Title {
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: -0.18px;
  color: #888888;
}

.Form form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Input {
  padding: 0;
}

.Select {
  width: 215px;
}

.InputFields {
  height: 40px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  padding-left: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 20px;
}

.Button {
  height: 45px;
  width: 200px;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 20px;
  border: solid 1px #e8e8e8;
}

.SaveBtn {
  background-color: #28e03e;
}

.Text {
  color: #ababab;
}