.section {
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }
  &__books {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 15%));
    grid-gap: 1rem;
  }
}
