.Book {
  width: 88%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  color: #000;
  margin: 20px auto;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  justify-content: space-between;
  padding: 20px;;
}

.LeftSection {
  text-align: left;
}

.Category {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Title {
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 10px 0 8px 0;
}
.Writer {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-bottom: 5px;
}

.Btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}
.Btns button {
  text-decoration: none;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  color: #4386bf;
}

.Separator {
  content: '';
  border-left: solid 2px #e8e8e8;
  margin: auto 10px;
  height: 13px;
}

.Percentage {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin: 10px;
}

.Status {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin-left: -15px;
  text-align: center;
}
.Right{
  width: 40%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.Separator2 {
  content: '';
  border-left: solid 2px #e8e8e8;
  height: 65px;
  margin: auto 40px;
}

.CurrentChapter {
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Chapter {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
  margin: 12px auto;
}
.UpdateBtn {
  border-radius: 3px;
  background-color: #0290ff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding: 7px 25px;
}
.RightSection {
  text-align: left;
}